body {
    text-align: center;
    margin: 0px;
    font-family: 'Merriweather', serif;
}

.top-container {
    background-color: #E4F9F5;
    position: relative;
    padding-top: 100px;
}

.top-cloud {
    position: absolute;
    right: 450px;
    top: 40px;
}

.bottom-cloud {
    position: absolute;
    left: 400px;
    top: 250px;
}

h1 {
    font-family: 'Sacramento', cursive;
    font-size: 6rem;
}

h2 {
    font-family: 'Montserrat', sans-serif;
}

.middle-container {
    padding-top: 50px;
}

.skill-row {
    width: 50%;
    margin: 100px auto;
    text-align: left;
    line-height: 2;
}

.microservice-cloud-img {
    float: left;
    margin-right: 30px;
    width: 100px;
    height: 100px;
    text-align: center;
}

.aws-img {
    float: right;
    margin-left: 30px;
    width: 100px;
    height: 100px;
}

.profile {
    padding-bottom: 50px;
}
