body {
    color: #40514E;
    text-align: center;
    margin: 0;
    font-family: 'Merriweather', serif;
}

h2 {
    font-family: 'Montserrat', sans-serif;
}

.top-container {
    background-color: #E4F9F5;
    position: relative;
}

.middle-container {
    padding-top: 50px;
}

.skill-row {
    width: 50%;
    margin: 100px auto;
    text-align: left;
    line-height: 2;
}

.profile {
    padding-bottom: 50px;
}

.mountain {
    height: 350px;
    width: 350px;
}

.top-birds {
    position: absolute;
    right: 30%;
    top: 20%;
    width: 60px;
    height: 60px;
}

.bottom-birds {
    position: absolute;
    left: 30%;
    top: 20%;
    width: 60px;
    height: 60px;
}

.sub-title {
    margin: 0;
    padding-left: 400px;
    font-family: 'Sacramento', cursive;
    font-size: 2rem;
}

.main-title {
    margin: 0;
}

.profile-img {
    width: 100px;
    height: 100px;
}

.right-skill-img {
    float: right;
    margin-left: 30px;
    width: 90px;
    height: 90px;
}

.left-skill-img {
    float: left;
    margin-right: 30px;
    width: 90px;
    height: 90px;
}
