body {
    text-align: center;
    margin: 0px;
}

.top-container {
    background-color: #E4F9F5;
    position: relative;
    padding-top: 100px;
}

.top-cloud {
    position: absolute;
    right: 450px;
    top: 40px;
}

.bottom-cloud {
    position: absolute;
    left: 400px;
    top: 250px;
}
